version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://localhost:8000 # Adjust this if testing locally with Docker
    restart: always
    depends_on:
      - backend
