fastapi
uvicorn
python-multipart
pdf2image
easyocr
opencv-python-headless
numpy
Pillow
google-generativeai
python-dotenv
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
fastapi-mail
pydantic-settings
email-validator
openai